<!-- Confirming printed lines -->

<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
		<script>
			document.addEventListener('keydown', function(event) {
			    if (event.keyCode == 13) {
			        document.location.href = '/stage4';
			    }
			    else if (event.keyCode == 27) {
			    	document.location.href = '/stage0';
			    }
			}, true);
		</script>
	</head>
	<body>
		<p>Voter ID: <b>{{ voter_id }}</b></p>
		<p>You are voting for: <b>{{ cand_dict[chosen] }}</b></p>

		

		<table>
			<tr> 
				<th></th>
				<th> CANDIDATE </th>
				<th> CHALLENGE </th>
			</tr>
			{% for c in candidates %}
				<tr>
					<td>{{ c }}</td>
					<td>{{ cand_dict[c] }}</td>
					{% if c != chosen %}
						<td>{{ challenges[c] }}</td>
					{% else %}				
						<td id="fill_later"></td> 
					{% endif %}
				</tr>
			{% endfor %}
		</table>

		<h2>Instructions</h2>
		<p>Please verify that two lines were printed. The lines should be behind the shield, so you will not be able to read them.</p>
		<p>Press <b>ENTER</b> when you've finished, <b>ESC</b> to cancel and restart, or summon help if the lines did not print.</p>
<!-- 
		{% for c in candidates %}
			{% if c != chosen %}
				<p> {{ c }} | {{ cand_dict[c] }} | {{ challenges[c] }} </p>
			{% else %}
				<p> {{ c }} | {{ cand_dict[c] }} | NOT_YET </p>
			{% endif %}
		{% endfor %} -->
	</body>

</html>