<!-- Presenting Candidates -->

<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='post.js') }}"></script>
		<script>
			document.addEventListener('keydown', function(event) {
				// check if this is a valid candidate number
			    if (event.keyCode > 48 && event.keyCode <= 48 + {{candidates|length}}) {
			    	chosen = event.keyCode - 48;
			    	// alert(chosen);
			        post("/stage2", {chosen: chosen});
			    }
			    else {
			    	alert("Invalid candidate number!");
			    }
			}, true);
		</script>
	</head>
	<body>
		<p>Voter ID: <b>{{ voter_id }}</b></p>
		<p>Available candidates:</p>

		{% for c in candidates %}
			<p>Press <b>{{ c }}</b> to select: <b>{{ cand_dict[c] }}</b></p>
		{% endfor %}
	</body>
</html>