<!-- Challenge for chosen candidate -->

<html>
	<head>
		<script>
			document.addEventListener('keydown', function(event) {
			    if (event.keyCode == 13) {
			        var challenges_form = document.getElementById("challenges_form");
			    	// console.log(challenges_form);
			    	challenges_form.submit();
			    }
			    else if (event.keyCode == 27) {
			    	document.location.href = '/stage0';
			    }
			}, true);
		</script>
	</head>
	<p>Voter ID: {{ voter_id }}</p>
	<p>You are voting for: {{ cand_dict[chosen] }}</p>

	<p>Is this challenge ok?</p>
	<p>Press ENTER to accept, ESC to vote for someone else, or use TAB to select the challenge to edit.</p>

	<form id="challenges_form" action="/stage5" method="post">
		{% for c in candidates %}
			{% if c != chosen %}
				<p> {{ c }} | {{ cand_dict[c] }} | {{ challenges[c] }} </p>
			{% else %}
				<p> {{ c }} | {{ cand_dict[c] }} | <input type="text" name="chosen_challenge" value="{{ chosen_challenge }}"> </p>
			{% endif %}
		{% endfor %}
	</form>

</html>