<!-- Confirming vote and receipt receipt -->

<html>
	<head>
		<script>
			document.addEventListener('keydown', function(event) {
			    if (event.keyCode == 13) {
			        document.location.href = '/stage6';
			    }
			    else if (event.keyCode == 27) {
			    	document.location.href = '/stage0';
			    }
			}, true);
		</script>
	</head>
	<p>Voter ID: {{ voter_id }}</p>
	<p>You are voting for: {{ cand_dict[chosen] }}</p>

	<p>Was your receipt printed and correct?</p>
	<p>Press ENTER to accept, ESC to cancel and restart</p>


	{% for c in candidates %}
		<p> {{ c }} | {{ cand_dict[c] }} | {{ challenges[c] }} </p>
	{% endfor %}

</html>