<!-- Confirming vote and receipt receipt -->

<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
		<script>
			document.addEventListener('keydown', function(event) {
			    if (event.keyCode == 13) {
			        document.location.href = '/stage0';
			    }
			}, true);
		</script>
	</head>
	<body>
		<p>Thank you for voting! Your vote has been cast.</p>
		<p>Please collect your receipt.</p>
		<p>Press <b>ENTER</b> to ready machine for next vote.</p>
	</body>
</html>
