<!-- Confirming vote and receipt receipt -->

<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
		<script>
			document.addEventListener('keydown', function(event) {
			    if (event.keyCode == 13) {
			        document.location.href = '/stage6';
			    }
			    else if (event.keyCode == 27) {
			    	document.location.href = '/stage0';
			    }
			}, true);
		</script>
	</head>
	<body>
		<p>Voter ID: <b>{{ voter_id }}</b></p>
		<p>You are voting for: <b>{{ cand_dict[chosen] }}</b></p>


		<table>
			<tr> 
				<th></th>
				<th> CANDIDATE </th>
				<th> CHALLENGE </th>
			</tr>
			{% for c in candidates %}
				<tr>
					<td>{{ c }}</td>
					<td>{{ cand_dict[c] }}</td>
					<td>{{ challenges[c] }}</td>
				</tr>
			{% endfor %}
		</table>

		<h2>Instructions</h2>
		<p>Was your receipt printed, and does it contain the correct challenges?</p>
		<p>Press <b>ENTER</b> to accept, <b>ESC</b> to cancel and restart.</p>

<!-- 		{% for c in candidates %}
			<p> {{ c }} | {{ cand_dict[c] }} | {{ challenges[c] }} </p>
		{% endfor %} -->
	</body>

</html>