<!-- Challenge for chosen candidate -->

<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
		<script>
			document.addEventListener('keydown', function(event) {
			    if (event.keyCode == 13) {
			        var challenges_form = document.getElementById("challenges_form");
			    	// console.log(challenges_form);
			    	challenges_form.submit();
			    }
			    else if (event.keyCode == 27) {
			    	document.location.href = '/stage0';
			    }
			}, true);
		</script>
	</head>
	<body>
		<p>Voter ID: <b>{{ voter_id }}</b></p>
		<p>You are voting for: <b>{{ cand_dict[chosen] }}</b></p>

		<form id="challenges_form" action="/stage5" method="post">
			<table>
				<tr> 
					<th></th>
					<th> CANDIDATE </th>
					<th> CHALLENGE </th>
				</tr>
				{% for c in candidates %}
					<tr>
						<td>{{ c }}</td>
						<td>{{ cand_dict[c] }}</td>
						{% if c != chosen %}
							<td>{{ challenges[c] }}</td>
						{% else %}				
							<td id="fill_now"><input type="text" name="chosen_challenge" value="{{ chosen_challenge }}"></td> 
						{% endif %}
					</tr>
				{% endfor %}
			</table>
		</form>

		<h2>Instructions</h2>
		<p>Fill in the green entry with some random words, or accept the pre-filled defaults.</p>
		<p>Press <b>ENTER</b> when you've finished, <b>ESC</b> to cancel and restart, or use <b>TAB</b> to select the challenge to edit.</p>

		<!-- <form id="challenges_form" action="/stage5" method="post">
			{% for c in candidates %}
				{% if c != chosen %}
					<p> {{ c }} | {{ cand_dict[c] }} | {{ challenges[c] }} </p>
				{% else %}
					<p> {{ c }} | {{ cand_dict[c] }} | <input type="text" name="chosen_challenge" value="{{ chosen_challenge }}"> </p>
				{% endif %}
			{% endfor %}
		</form> -->
	</body>

</html>