<!-- Confirming printed lines -->

<html>
	<head>
		<script>
			document.addEventListener('keydown', function(event) {
			    if (event.keyCode == 13) {
			        document.location.href = '/stage4';
			    }
			    else if (event.keyCode == 27) {
			    	document.location.href = '/stage0';
			    }
			}, true);
		</script>
	</head>

	<p>You are voting for: {{ cand_dict[chosen] }}</p>

	<p>Please verify that two lines were printed. The lines should be behind the shield.</p>
	<p>Press ENTER to accept, ESC to vote for someone else or if the lines do not match.</p>

	{% for c in candidates %}
		{% if c != chosen %}
			<p> {{ c }} | {{ cand_dict[c] }} | {{ challenges[c] }} </p>
		{% else %}
			<p> {{ c }} | {{ cand_dict[c] }} | NOT_YET </p>
		{% endif %}
	{% endfor %}

</html>