<!-- Welcome Page -->

<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
		<script>
			document.addEventListener('keydown', function(event) {
			    if (event.keyCode == 13) {
			        document.location.href = '/stage1';
			    }
			    if (event.keyCode == 27) {
			    	document.location.href = '/finish';
			    }
			}, true);
		</script>
	</head>
	<body>
		<h1>Voter ID: {{ voter_id }}</h1>
		<p>Welcome!</p>
		<p>Press ENTER to begin voting.</p>
		<p>Press ESC to tally and shut off machine.</p>
	</body>

</html>